* {
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #222;
  line-height: 1.7;
  letter-spacing: 0.03rem;
}

a { color: #111; }
a:hover {
  color: #333;
  text-decoration: none;
}

small { margin: 0 0.2rem; }
strong { margin: 0 0.2rem; }

canvas {
  cursor: move;
  display: block;
  width: 100vw;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;

  font-size: 1.1rem;
  margin-bottom: 1.1rem;

  text-align: center;
  width: 100%;
}
